@{<ul class="nav nav-pills nav-stacked">
        <li><a href="#">Cras justo odio</a></li>
        <li class="active"><a href="#">Dapibus ac facilisis in</a></li>
        <li><a href="#">Morbi leo risus</a></li>
        <li><a href="#">Porta ac consectetur ac</a></li>
        <li><a href="#">Vestibulum at eros</a></li>
    </ul>
}