@using Trirand.Web.Mvc
@model Models.ViewModels.AdminAccount.DetailsInfoForAdminAccount

@{
    ViewBag.Title = "DetailsInfoForConference";
    Layout = "~/Views/Shared/_LayoutForUserManagePage.cshtml";
}

<h2>DetailsInfoForConference</h2>

@Html.Trirand().JQGrid(Model.ParticipantsConferenceJqGrid.OrdersGrid, "ParticipantsConferenceJqGrid")