
@{
    ViewBag.Title = "CurrentApplyConference";
    Layout = "~/Views/Shared/_LayoutForUserManagePage.cshtml";
}

<h2>CurrentApplyConference</h2>

<p>Вы уже зарегистрированы на данную конференцию.</p>